Hackthon.DMS/test/Service References/Dservice/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DMS.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DMS.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ScreenshotDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fk_DeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="isDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="screenshot1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="screenshot2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="screenshot3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="screenshot4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="screenshot5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreenshotDetails" nillable="true" type="tns:ScreenshotDetails" />
  <xs:complexType name="DevicesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deviceIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deviceStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="isDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isShutdownDevice" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DevicesDetails" nillable="true" type="tns:DevicesDetails" />
</xs:schema>