Hackthon.DMS/Hackathon.DMS.Windows/Service References/Hack/HackathonService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hackathon.DMS.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hackathon.DMS.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDatetime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPause" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsShutdownDevice" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScreenShotInterval" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedDatetime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="Screenshot">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDatetime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fk_DeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScreenshotPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Screenshot" nillable="true" type="tns:Screenshot" />
  <xs:complexType name="Test">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDatetime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPause" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsShutdownDevice" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScreenShotInterval" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Test" nillable="true" type="tns:Test" />
</xs:schema>