Hackthon.DMS/Hackathon.DMS.Windows/Service References/Hack/HackathonService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HackathonService2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.10.218:8081/HackathonService2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.10.218:8081/HackathonService2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.10.218:8081/HackathonService2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hackathon.DMS.API" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHackathonService_IsDeviceRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:IsDeviceRegistered" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_IsDeviceRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsDeviceRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_SaveScreenshotPath_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveScreenshotPath" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_SaveScreenshotPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveScreenshotPathResponse" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_IsPauseDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPauseDevice" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_IsPauseDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPauseDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_TestRequestGET_InputMessage">
    <wsdl:part name="parameters" element="tns:TestRequestGET" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_TestRequestGET_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestRequestGETResponse" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_TestRequestPOST_InputMessage">
    <wsdl:part name="parameters" element="tns:TestRequestPOST" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_TestRequestPOST_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestRequestPOSTResponse" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_TestRequestGETWithParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:TestRequestGETWithParameter" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_TestRequestGETWithParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestRequestGETWithParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_TestRequestPOSTWithParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:TestRequestPOSTWithParameter" />
  </wsdl:message>
  <wsdl:message name="IHackathonService_TestRequestPOSTWithParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestRequestPOSTWithParameterResponse" />
  </wsdl:message>
  <wsdl:portType name="IHackathonService">
    <wsdl:operation name="IsDeviceRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IHackathonService/IsDeviceRegistered" message="tns:IHackathonService_IsDeviceRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHackathonService/IsDeviceRegisteredResponse" message="tns:IHackathonService_IsDeviceRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveScreenshotPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IHackathonService/SaveScreenshotPath" message="tns:IHackathonService_SaveScreenshotPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHackathonService/SaveScreenshotPathResponse" message="tns:IHackathonService_SaveScreenshotPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPauseDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IHackathonService/IsPauseDevice" message="tns:IHackathonService_IsPauseDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHackathonService/IsPauseDeviceResponse" message="tns:IHackathonService_IsPauseDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestRequestGET">
      <wsdl:input wsaw:Action="http://tempuri.org/IHackathonService/TestRequestGET" message="tns:IHackathonService_TestRequestGET_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHackathonService/TestRequestGETResponse" message="tns:IHackathonService_TestRequestGET_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestRequestPOST">
      <wsdl:input wsaw:Action="http://tempuri.org/IHackathonService/TestRequestPOST" message="tns:IHackathonService_TestRequestPOST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHackathonService/TestRequestPOSTResponse" message="tns:IHackathonService_TestRequestPOST_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestRequestGETWithParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IHackathonService/TestRequestGETWithParameter" message="tns:IHackathonService_TestRequestGETWithParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHackathonService/TestRequestGETWithParameterResponse" message="tns:IHackathonService_TestRequestGETWithParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestRequestPOSTWithParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IHackathonService/TestRequestPOSTWithParameter" message="tns:IHackathonService_TestRequestPOSTWithParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHackathonService/TestRequestPOSTWithParameterResponse" message="tns:IHackathonService_TestRequestPOSTWithParameter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHackathonService" type="tns:IHackathonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsDeviceRegistered">
      <soap:operation soapAction="http://tempuri.org/IHackathonService/IsDeviceRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveScreenshotPath">
      <soap:operation soapAction="http://tempuri.org/IHackathonService/SaveScreenshotPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPauseDevice">
      <soap:operation soapAction="http://tempuri.org/IHackathonService/IsPauseDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRequestGET">
      <soap:operation soapAction="http://tempuri.org/IHackathonService/TestRequestGET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRequestPOST">
      <soap:operation soapAction="http://tempuri.org/IHackathonService/TestRequestPOST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRequestGETWithParameter">
      <soap:operation soapAction="http://tempuri.org/IHackathonService/TestRequestGETWithParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRequestPOSTWithParameter">
      <soap:operation soapAction="http://tempuri.org/IHackathonService/TestRequestPOSTWithParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HackathonService2">
    <wsdl:port name="BasicHttpBinding_IHackathonService" binding="tns:BasicHttpBinding_IHackathonService">
      <soap:address location="http://192.168.10.218:8081/HackathonService2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>