Hackthon.DMS/Hackathon.DMS.Windows/Service References/Hack/HackathonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.10.218:8081/HackathonService2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hackathon.DMS.API" />
  <xs:element name="IsDeviceRegistered">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hackathon.DMS.API" minOccurs="0" name="DeviceDetails" nillable="true" type="q1:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDeviceRegisteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hackathon.DMS.API" minOccurs="0" name="IsDeviceRegisteredResult" nillable="true" type="q2:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScreenshotPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hackathon.DMS.API" minOccurs="0" name="UserDetDeviceDetailsails" nillable="true" type="q3:Screenshot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScreenshotPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveScreenshotPathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPauseDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hackathon.DMS.API" minOccurs="0" name="DeviceDetails" nillable="true" type="q4:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPauseDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPauseDeviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestGET">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestGETResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestRequestGETResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestPOST">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestPOSTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestRequestPOSTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestGETWithParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceDetails" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestGETWithParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestRequestGETWithParameterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestPOSTWithParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hackathon.DMS.API" minOccurs="0" name="DeviceDetails" nillable="true" type="q5:Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestPOSTWithParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestRequestPOSTWithParameterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>